.chat-box {
    max-width: 600px;
    margin: auto;
    width: 100%;
    display: block;

    border-radius: 20px;
    border: 1px solid #eee;
    overflow: hidden;
    min-height: 250px;
    max-height: 332px;
    position: relative;
}
.left-chat-list {
    float: left;
    width: 40%;
    overflow-y: scroll;
    max-height: 330px;
    height: 100vh;
}
.left-chat-list ul {
    display: block;
    margin:0;
    padding:0;
}
.left-chat-list ul  li {
    display: list-item;
    list-style: none;
    font-size: 20px;
    text-transform:capitalize;
    background: #eee;
    border-bottom:1px solid #ddd;
    padding: 19px 30px;
}
.left-chat-list ul  li span {
    display: block;
    color: #6d6d6d;
}
.right-message  {
    float: right;
    width: 60%;
    background: #fff;
    padding: 32px 27px 66px;
    border-left: 1px solid #ddd;
    height: 330px;
    overflow-y: scroll;
    overflow-x: hidden;
    /* position:relative; */
}
.right-message p {
    background: #eee;
    border-radius: 20px;
    padding: 12px 24px;
    border: 1px solid #e2e2e2;
    width: auto;
    display: inline-block;
    margin:0;
}
.right-message .right-align {
    position: relative;
    display: inline-block;
    width: 100%;
    text-align: right;
}
.right-message .left-align {
    position: relative;
    display: inline-block;
    width: 100%;
    text-align: left;
}
.right-message span {
    display:block;
    font-size: 13px;
}
.left-align:before {
    content: "";
    width: 0;
    height: 0;
    border-top: 9px solid transparent;
    border-right: 10px solid #ddd;
    border-bottom: 9px solid transparent;
    position: absolute;
    top: 30px;
    left: -8px;
}
.right-align:before {
    content: "";
    width: 0;
    height: 0;
    border-top: 9px solid transparent;
	border-left: 10px solid #ddd;
	border-bottom: 9px solid transparent;
    position: absolute;
    top: 30px;
    right: -8px;
}
.right-inner {
    width:100%;
}
.right-inner:before {
    content: "";
    width: 0;
	height: 0;
	border-top: 9px solid transparent;
	border-left: 10px solid #ddd;
	border-bottom: 9px solid transparent;
    position: absolute;
    top: 30px;
    right: -8px;
}

.input-box {
    width: 296px;
    position: absolute;
    bottom: 15px;
    left: auto;
    padding: 0;
}
.input-box input[type="text"] {
    background: #fff;
    border-radius: 10px;
    padding: 12px 36px 12px 24px;
    border: 1px solid #e2e2e2;
    width: 100%;
}
.list-group-item.active {
    background: #fff !important;
    color:black;
    border:none;
    border-bottom: 1px solid #ddd;
}
.list-group-item.active:hover{
    color:black;
}
.message-repeate {
    float: left;
    width: 100%;
    margin-bottom: 20px;
}
.input-box .attach {
    display: block;
    position: absolute;
    right: 6px;
    width: 30px;
    top: 8px;
    height: 30px;
    background: url("../../assets/img/attach.png") no-repeat center;
    background-size: 66%;
}
.input-box input[type=file]  {
    opacity:0;
}
.file-download {
    background: #eee;
    width: 200px;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 10px;
    clear: both;
    text-align: center;
}
.left-align .file-main .file-download{
    float: left;
}
.right-align .file-main .file-download{
    float: right;
}
.file-download h5 {
    font-size: 20px;
    text-align: left;
}
.file-download .btn-download {
    text-align: center;
    font-weight: bold;
    color:#333;
    cursor: pointer;

}
.clearfix, .clearfix:before, .clearfix:after {
    content:"";
    clear: both;
    display: block;
}