<!-- <form #myForm="ngForm">
    <div class="form-group">
            <div [hidden]="heroForm.submitted">

        <label for="name" >     Name    </label>
        <input type="text" class="form-control" name="name" placeholder="Enter Name" required 
        minlength="4" maxlength="40"  [(ngModel)]="hero.name" #name="ngModel" >
        <div *ngIf="name.invalid  && (name.touched || name.dirty)" 
        class="alert alert-danger">
        <div *ngIf="name.errors.required">
            Name is Required
        </div>
        <div *ngIf= "name.errors.minlength">
            Name must be atleast 4 char long
        </div>
    </div>

<div class="form-group">
    <label for="college" >
        College
    </label>
    <input type="text" class="form-control" name="college" required
    minlength="6" [(ngModel)]="hero.college" #college="ngModel">
    <div *ngIf="college.invalid && (college.touched || college.dirty)"class="alert alert-danger" >
        <div *ngIf="college.errors.required">College Name is Required</div>
        <div *ngIf ="college.errors.minlength">
            Enter at least 6 char
        </div>
    </div>

</div> 

    </div></div>
</form>-->

<!-- <h1> You are Loged Out</h1> -->



