<!--The content below is only a placeholder and can be replaced.-->
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <ul class="nav navbar-nav">
          <li >
              <a [routerLink]="['/chat']"> CHAT</a>
            </li>
        <li *ngIf="checkLogin()">
          <a [routerLink]="['/register']"> REGISTER</a>
        </li>
        <li *ngIf="checkLogin()">
          <a [routerLink]="['/login']" > LOGIN</a>
        </li>
        <li>
          <a *ngIf="!checkLogin()" (click)="userLogout()">LOGOUT</a>
        </li>
        <!-- <li><a [routerLink] = "['/logout']">      LOGOUT</a></li> -->
      </ul>
    </div>
  </nav>
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</body>

</html>