<div class="container">
  <div class="jumbotron">
    <h4 class="card-header">Register</h4>

    <div class="card-block">
      <form (ngSubmit)="registerUser(user)" #myForm="ngForm">


        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon">
              <i class="fa fa-male"></i>
            </span>
            <input class="form-control" type="text" name="name" [(ngModel)]="user.name" #name="ngModel" placeholder="Enter Name" required>
          </div>

        </div>


        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon">
              <i class="fa fa-envelope"></i>
            </span>
            <input class="form-control" type="email" name="email" [(ngModel)]="user.email" #email="ngModel" placeholder="Email" required>
          </div>
          <div *ngIf="email.invalid && (email.touched || email.dirty)" class="alert alert-danger">
            <div *ngIf="email.errors.required">
              Email is required
            </div>
          </div>
        </div>



        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon">
              <i class="fa fa-key"></i>
            </span>
            <input class="form-control" type="password" name="password" [(ngModel)]="user.pass" placeholder="Password" #pass="ngModel"
              required minlength="8">
          </div>
          <div *ngIf="pass.invalid && (pass.dirty || pass.touched)" class="alert alert-danger">
            <div *ngIf="pass.errors.required">
              Password is must
            </div>
            <div *ngIf="pass.errors.minlength">
              Password is weak
            </div>
          </div>
        </div>


        <button class="btn btn-primary" type="submit" [disabled]="myForm.invalid || loading">
          <i class="fa fa-user-plus"></i>
          Register</button>
      </form>
    </div>
  </div>
</div>
<!-- <h2> Data</h2>
<ul *ngFor="let item of Data">
    <li>{{item.id}}</li>
  <li >{{item.name}}</li>
  <li>{{item.pno}}</li>
  <li>{{item.email}}</li>
</ul> -->