<div class="container">
    <div class="jumbotron">
     
  <form  #loginForm="ngForm">
      <legend>LOGIN FORM</legend>
    <div class="form-group">
    <label for="email">USER EMAIL</label>
    <input type="email" class="form-control" name="email" [(ngModel)]="user.email" 
    #email="ngModel" placeholder="Email" required>
      <div *ngIf="email.invalid && (email.touched || email.dirty)" class="alert alert-danger">
        <div *ngIf="email.errors.required">
          Email is Required
        </div>
      </div>
  </div>
  <div class="form-group">
    <label for="pass">PASSWORD</label>
    <input type="password" class="form-control" name ="pass" [(ngModel)]="user.pass" 
    #pass="ngModel" placeholder="passwords" required>
    <div *ngIf="pass.invalid && (pass.touched ||pass.dirty)" class="alert alert-danger">
        <div *ngIf="pass.errors.required">
          Password is Required
        </div>
      </div>
  </div>
    <button type="submit" class="btn btn-success" (click)="authLogin(user)" [disabled]="!checkUser" [disabled]="loginForm.invalid" >Login</button>

  </form>
  <div style="color:red">
    <h4>{{message1}}</h4>
  </div>
</div>
</div>